.logo-color{
    color:white!important;
}
.logo-color-2{
    background-color:white!important;
    color:black!important;
}
.image-doing{
    background-color:rgba(0, 0, 0, 0)!important;
}
.topnav-item{
    background-color:#222!important;
}