html{
    font-family:'Ubuntu' ,sans-serif;
}
body{
    margin:0;
}
.topnav {
    overflow: hidden;
    position: relative;
    top:0;
    padding-right:5vw;
 
}
.topnav a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 0 22px;
    margin: 22px 0;
    text-decoration: none;
    font-size: 22px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight:600;
    
}
.topnav a:hover {
    color: #e6e6e6;
}
.topnav a.active {
    color: #ffffff;
    font-weight:900;
}
.topnav-item{
    position:absolute;
    top:1vh;
    left:1vw;
}
.menu-bkg{
    position: sticky;
    left:0;
    top:0;
    width:53%;
}
.icon-menu{
    display:none;
}
.logo{
    position: absolute;
    right:5vw;
    top:1vh;
}
.section-1{
    width:90vw;
    position: relative;
    padding:5vh 4vw;
    white-space:nowrap;
    display:flex;
}

.imgcover{
    display:inline-block;
    padding-left:5vw;
}
.text-area{
    width:50vw;
    display:inline-block;
    vertical-align: middle;
}
.main-title{
    font-family: 'Ubuntu', sans-serif;
    font-size:68px;
    font-weight:900;
    margin-bottom:0px;
}
.sub-title{
    font-family: 'Ubuntu', sans-serif;
    font-size:28px;
    font-weight:500;
    color:#808080;
    margin-top:24px;
}
.little-text{
    font-family: 'Ubuntu', sans-serif;
    color:#808080;
}
#type-text{
    background-color:black;
    color:white;
}
.section-2{
    width:90vw;
    position: relative;
    padding:5vh 2vw;
    white-space:nowrap;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow:hidden;
}
.sub-topic{
    font-size:3.5vw;
}
.doing-section{
    display:flex;
    flex-direction: row;
    width:90vw;
}
.doing-item{
    font-size:1.75vw;
    display:inline-block;
    margin-top:auto;
    margin-bottom:auto;
}
.footer{
    position:relative;
    display:flex;
    flex-direction: column;
    width:90vw;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
}
.row{
    position:relative;
    display:flex;
    flex-direction:column;
    margin-left:auto;
    margin-right:auto;
}
.column{
    display:flex;
    flex-direction: row;
}
.col-3{
    position: relative;
    display:flex;
    flex-direction: column;
    width:30%;
}
.col-6{
    position:relative;
    display:flex;
    flex-direction:column;
    width:50%;
}
.col-12{
    position:relative;
    display:flex;
    flex-direction:column;
    width:100%
}
.switch {
    align-self: flex-end;
}
.inner-switch {
    display: inline-block;
    cursor: pointer;
    border: 1px solid #ffff;
    border-radius: 1.25rem;
    width: 3.125rem;
    text-align: center;
    font-size: 1rem;
    padding: 0.1875rem;
    margin-left: 0.3125rem;
}
.dark-mode-menu{
    padding-top:10px!important;
    margin-top:1px!important;
}

.dark,
.dark * {
    background-color: #222;
    color: #e6e6e6!important;
    border-color: #e6e6e6;
}
.divider-right{
    border-right: 1px;
    border-left: 0;
    border-top:0;
    border-bottom:0;
    border-style: solid;
    border-color:#ffff;
}
.about-me{
    width:60%;
}
.profile-image{
    width: 25%;
    margin-left: 37.5%;
    margin-right: 37.5%;
    border-radius: 100vh;
}
@media (max-width:400px){
    .profile-image{
        width: 75%;
        margin-left: 12.5%;
        margin-right: 12.5%;
        border-radius: 100vh;
    }
    td{
        padding-top:1vh!important;
        padding-bottom:1vh!important;
    }
    .topnav-item {
        overflow: hidden;
        position: relative;
      }
      .topnav-item a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
      }
      .topnav a.active{
          color:black;
      }
      li{
          font-size:6.5vw!important;
      }
      ul{
          width:80vw;
      }
    .about-me{
        width:90%!important;
    }
    .row.about-me table tbody tr td{
        font-size:6.5vw!important;
    }
    .cv-area{
        font-size:6.5vw!important;
    }
    .section-1{
        flex-direction: column-reverse;
        padding-top:10vh;
    }
    .section-2{
        white-space: normal;
    }
    .menu-bkg{
        display:none;
    }
    .icon-menu{
        float:left!important;
    }
    .topnav-item{
        background-color:white;
        display:flex;
        flex-direction: column!important;
    }
    .main-title{
        font-size:8vw!important;
    }
    .sub-title{
        font-size:5vw!important;
    }
    .column{
        flex-direction: column-reverse;
    }
    .doing-section{
        flex-direction: column;
    }
    .image-doing{
        display:none;
    }
    .sub-topic{
        font-size: 6.5vw;
    }
    .doing-item{
        font-size:5vw!important;
        word-wrap: normal;
    }
    
    .imgcover{
        margin:auto;
        width:80%;
        position:relative;
        top:5vh;
        right:0vw;
        display:block;
    }
    .text-area{
        top:5vh;
        width:90%;
        position:relative;
    }
    .icon-menu{
        display:inline;
    }
    .topnav #myLinks {
        display: none;
    }
    .main-title{
        font-family: 'Ubuntu', sans-serif;
        font-size:12vw;
        font-weight:900;
        margin-bottom:0px;
    }
    .sub-title{
        font-family: 'Ubuntu', sans-serif;
        font-size:7vw;
        font-weight:500;
        color:#808080;
        margin-top:24px;
    }
    .topnav a {
        float: right;
        color: #000000;
        text-align: center;
        padding: 15px 17px;
        text-decoration: none;
        font-size: 15px;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight:600;
        
    }
}
.icon{
    color:red;
}
/* Hide the links inside the navigation menu (except for logo/home) */
